client_sdk_winxp_vs2013.tar.gz
msvc/bin/Debug/qhsec-test.exe
msvc/bin/Debug/qhsec-test.ilk
msvc/bin/Debug/qhsec-test.pdb
msvc/bin/Debug/qhsecdll_d.dll
msvc/bin/Debug/qhsecdll_d.exp
msvc/bin/Debug/qhsecdll_d.ilk
msvc/bin/Debug/qhsecdll_d.lib
msvc/bin/Debug/qhsecdll_d.pdb
msvc/bin/obj/
msvc/bin/release/qhsec-test.exe
msvc/bin/release/qhsec-test.pdb
msvc/bin/release/qhsec.lib
msvc/bin/release/qhsecdll.dll
msvc/bin/release/qhsecdll.exp
msvc/bin/release/qhsecdll.lib
msvc/bin/release/qhsecdll.pdb
msvc/qhsec.sdf
msvc/qhsec.v12.suo
msvc/qhsec.opensdf
msvc/qhsec.vcxproj.user
msvc/bin/Debug/qhsec.lib
